In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
from model.preprocess import ACSIncomePreprocess
from model.model import ACSIncomeModel

In [3]:
preprocess = ACSIncomePreprocess()
model = ACSIncomeModel()

### ML Pipeline & Bias Metrics Calculation

In [4]:
train, test = preprocess.get_preprocessed_data()

In [5]:
train.head()

,AGEP,SCHL,POBP,WKHP,ST,PINCP,COW_1.0,COW_2.0,COW_3.0,COW_4.0,...,RAC1P_American Indian alone,"RAC1P_American Indian and Alaska Native tribes specified;or American Indian or Alaska Native,not specified and no other",RAC1P_Asian alone,RAC1P_Black or African American alone,RAC1P_Native Hawaiian and Other Pacific Islander alone,RAC1P_Some Other Race alone,RAC1P_Two or More Races,RAC1P_White alone,SEX_Female,SEX_Male
0,0.0,1.0,39.0,1.0,39.0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,1.0,7.0,18.0,2.0,26.0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,2.0,2.0,36.0,2.0,36.0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,1.0,6.0,33.0,1.0,13.0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,1.0,2.0,333.0,1.0,12.0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0

In [6]:
test.head()

,AGEP,SCHL,POBP,WKHP,ST,PINCP,COW_1.0,COW_2.0,COW_3.0,COW_4.0,...,RAC1P_American Indian alone,"RAC1P_American Indian and Alaska Native tribes specified;or American Indian or Alaska Native,not specified and no other",RAC1P_Asian alone,RAC1P_Black or African American alone,RAC1P_Native Hawaiian and Other Pacific Islander alone,RAC1P_Some Other Race alone,RAC1P_Two or More Races,RAC1P_White alone,SEX_Female,SEX_Male
0,1.0,3.0,37.0,2.0,17.0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1,2.0,3.0,36.0,1.0,9.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,0.0,6.0,36.0,1.0,17.0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,1.0,6.0,17.0,2.0,17.0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,1.0,9.0,34.0,1.0,9.0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0

In [7]:
model.print_model_metrics(train, test)

EÄŸitim Ã¶rnek sayÄ±sÄ±: 1165150
Test Ã¶rnek sayÄ±sÄ±: 499350
              precision    recall  f1-score   support

           0       0.81      0.85      0.83    315441
           1       0.72      0.65      0.68    183909

    accuracy                           0.78    499350
   macro avg       0.76      0.75      0.75    499350
weighted avg       0.77      0.78      0.77    499350

Disparate impact: 2.321569681085444
Statistical parity: 0.26035813628482196