In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
from fairfl.model.preprocess import ACSIncomePreprocess
from fairfl.utils.read_data import DatasetUtils
from fairfl.model.model import ACSIncomeModel

In [3]:
preprocess = ACSIncomePreprocess()
model = ACSIncomeModel()
dataset_utils = DatasetUtils()

# ML Pipeline & Bias Metrics Calculation for All States

In [4]:
train, test = preprocess.get_preprocessed_data()

In [5]:
train.head()

,AGEP,SCHL,POBP,WKHP,ST,PINCP,COW_1.0,COW_2.0,COW_3.0,COW_4.0,...,RELP_12.0,RELP_13.0,RELP_14.0,RELP_15.0,RELP_16.0,RELP_17.0,RAC1P_White alone,RAC1P_others,SEX_Female,SEX_Male
0,0.0,1.0,39.0,1.0,39.0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1.0,7.0,18.0,2.0,26.0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
2,2.0,2.0,36.0,2.0,36.0,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,1.0,6.0,33.0,1.0,13.0,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,1.0,2.0,333.0,1.0,12.0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,1,0

In [6]:
test.head()

,AGEP,SCHL,POBP,WKHP,ST,PINCP,COW_1.0,COW_2.0,COW_3.0,COW_4.0,...,RELP_12.0,RELP_13.0,RELP_14.0,RELP_15.0,RELP_16.0,RELP_17.0,RAC1P_White alone,RAC1P_others,SEX_Female,SEX_Male
0,1.0,3.0,37.0,2.0,17.0,0,1,0,0,0,...,0,1,0,0,0,0,1,0,1,0
1,2.0,3.0,36.0,1.0,9.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,0.0,6.0,36.0,1.0,17.0,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,1.0,6.0,17.0,2.0,17.0,1,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
4,1.0,9.0,34.0,1.0,9.0,1,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [7]:
model.print_model_metrics(train, test)

,egitim_ornek_sayisi,test_ornek_sayisi,accuracy,precision,recall,f1_score,disparate_impact,equal_opportunity_diff,statistical_parity,equal_opportunity
0,1165150,499350,0.774405,0.713146,0.64819,0.679118,1.62021,0.145429,0.139926,0.107196

# Bias Detection Selected States

In [8]:
# get selected states data
states = ["SD", "ME", "ID", "ND", "WY"]
train_states = dataset_utils.get_selected_states(train, states)

In [19]:
test = test.drop("ST", axis=1)

In [21]:
model.print_model_metrics(train_states, test)

,egitim_ornek_sayisi,test_ornek_sayisi,accuracy,precision,recall,f1_score,disparate_impact,equal_opportunity_diff,statistical_parity,equal_opportunity
0,19434,249675,0.760629,0.77071,0.499278,0.605987,6.619094,0.088822,0.249239,0.249147