In [1]:
import warnings

import pandas as pd

warnings.filterwarnings('ignore')

In [2]:
from fairfl.model.preprocess import ACSIncomePreprocess
preprocess = ACSIncomePreprocess()

In [3]:
train = pd.read_csv("../dataset/train.csv").reset_index(drop=True)
test = pd.read_csv("../dataset/test.csv").reset_index(drop=True)

In [4]:
train = preprocess.preprocess(train, one_hot=False)
test = preprocess.preprocess(test, one_hot=False)

In [5]:
train.head()

   AGEP  COW  SCHL  MAR    OCCP   POBP  RELP  WKHP  SEX  RAC1P    ST  PINCP
0   0.0  1.0   1.0    2  9620.0   39.0   2.0   1.0    1      1  39.0      0
1   1.0  1.0   7.0    1  2310.0   18.0   1.0   2.0    0      1  26.0      0
2   2.0  1.0   2.0    1  4700.0   36.0   1.0   2.0    1      1  36.0      1
3   1.0  1.0   6.0    1  2710.0   33.0   1.0   1.0    1      1  13.0      1
4   1.0  2.0   2.0    2  3255.0  333.0  17.0   1.0    0      0  12.0      0

In [6]:
train.to_csv("../dataset/train_preprocessed_label.csv", index=False)
test.to_csv("../dataset/test_preprocessed_label.csv", index=False)

In [7]:
len(train.columns)

12

In [7]:
df = pd.read_csv("../dataset/test_preprocessed.csv")
df

,AGEP,SCHL,POBP,WKHP,RAC1P,ST,PINCP,COW_1.0,COW_2.0,COW_3.0,...,RELP_10.0,RELP_11.0,RELP_12.0,RELP_13.0,RELP_14.0,RELP_15.0,RELP_16.0,RELP_17.0,SEX_Female,SEX_Male
0,1.0,3.0,37.0,2.0,1,17.0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2.0,3.0,36.0,1.0,0,9.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,6.0,36.0,1.0,1,17.0,1,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,6.0,17.0,2.0,1,17.0,1,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,9.0,34.0,1.0,1,9.0,1,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499345,1.0,7.0,13.0,1.0,1,12.0,1,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
499346,2.0,1.0,24.0,1.0,1,24.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
499347,3.0,1.0,36.0,0.0,1,36.0,0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
499348,2.0,7.0,240.0,1.0,1,36.0,1,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
499349,1.0,6.0,42.0,2.0,1,34.0,1,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0